ol, ul {
    list-style: none;
}

form{
    margin: 0;
    padding: 0;
}

.stopForm{
    clear: both;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    color: #3a3a3a;
    font: 76% Verdana,Tahoma,Arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

#footer
{
    background: linear-gradient(to bottom, white, darkgrey);
    height: 31px;
    width: 800px;
    bottom: 0;
    position: fixed;
}

#menu {
    width: 700px;
    height: 30px;
    float: left;
}

#menu ul {
    padding: 0 15px;
    margin: 0;
    height: 20px;
}

#menu li {
    display: inline;
    padding: 0;
}

#menu a {
    color: darkslategray;
    font-size: 14px;
    line-height: 35px;
    padding: 3px;
}

#menu a:hover {
    color: darkgreen;
    text-decoration: none;
}

#menu a.active {
    color: darkgreen;
    text-decoration: none;
}



#menubar
{
    background: linear-gradient(to bottom, darkgrey, white);
    width: 800px;
    height: 35px;
}

#wrapper {
    color: #303030;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    width: 800px;
    min-height: 100%;
}


#footer p {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

#footer a {
    color: darkgreen;
    font-weight: 400;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: none;
    color: darkgreen;
}

a {
    background:inherit;
    color:#166090;
    text-decoration:none;
    font-weight:700;
}

a:hover {
    background:inherit;
    color:#286ea0;
    text-decoration:underline;
}

.container {
    margin: 0 auto;
    width: 800px;
    padding: 50px 0 20px 0;
}

.bus {
    position: relative;
    margin: 10px auto 0 auto;
    padding: 10px;
    width: 455px;
    background: white;
}

.bus h1, .bus .error {
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
}


input [type = radio]{
    padding: 8px 0 0 0;
    margin: 0;
}

.bus div.submit
{
    text-align: right;
    margin: 30px 0 10px 0;
    clear: both;
}

.bus .submit2
{
    float: right;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.Stop
{
    width: 450px;
    height: 20px;
    clear: both;
    margin: 10px 0;
}

.bus input[type = submit]{
    float: right;
    width: 150px;
    margin: 10px 0 0 0;
}

input[type=text], input[type=password], input[type=email], .bus select, .bus textarea{
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
    margin: 5px 0 3px 3px;
    padding: 5px;
    width: 450px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

textarea:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}