



a img {
	border:0;
}

p {
	margin: 0 0 16px;
}


caption {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
	padding: 6px 0 8px;
	text-align: left;
}

form, fieldset, table {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: left;
}


label {
	margin: 2px 2px 2px 0;
}



textarea {
	width: 400px;
}

/* Search box */
#searchbox label, .hide {
	display: none;
}

#searchbox {
	margin: 6px 0 16px;
	padding: 0;
}

#searchform {
	background:#fff;
	border:1px solid #ccc;
	color:#505050;
	font-size:0.9em;
	padding:4px;
	width:116px;
}

/* Various classes */
.announce h2 {
	margin:0 0 10px;
	padding:0;
}

.textright {
	margin:-10px 0 4px;
	text-align:right;
}

.center {
	text-align:center;
}

.small {
	font-size:0.8em;
}

.large {
	font-size:1.3em;
}

.highlighted {
	background:#f0f0f0;
	border:1px solid #b0b0b0;
	color:#303030;
	padding:3px;
}

.left {
	float:left;
	margin: 0 10px 5px 0;
}

.right {
	float:right;
	margin: 0 0 5px 10px;
}

img.center {
	display: block;
	text-align: center;
	margin: 0 auto 8px;
}
